@model Scryfall_Admin.Models.Carta

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Cartas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Mana">Mana</label>
                <input asp-for="Mana" class="form-control" />
            </div>
            <div class="form-group">
                <label for="CustoDeMana">Custo de Mana</label>
                <input asp-for="CustoDeMana" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Tipo">Tipo</label>
                <input asp-for="Tipo" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Texto">Texto</label>
                <input asp-for="Texto" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Poder">Poder</label>
                <input asp-for="Poder" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Resistencia">Resistência</label>
                <input asp-for="Resistencia" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ImagemUrisId">ImagemUris Id</label>
                <select asp-for="ImagemUrisId" class="form-control" asp-items="ViewBag.ImagemUrisId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LegalidadesId">Legalidade Id</label>
                <select asp-for="LegalidadesId" class="form-control" asp-items="ViewBag.LegalidadesId"></select>
            </div>
            <div class="form-group">
                <label for="Lealdade">Lealdade</label>
                <input asp-for="Lealdade" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Raridade">Raridade</label>
                <select asp-for="Raridade" class="form-control" asp-items="ViewBag.Raridade"></select>
            </div>
            <div class="form-group">
                <label for="FlavorText">Flavor Text</label>
                <input asp-for="FlavorText" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

