@model Scryfall_Admin.Models.CartaLegalidades

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CartaLegalidades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Standard" class="control-label"></label>
                <input asp-for="Standard" class="form-control" />
                <span asp-validation-for="Standard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modern" class="control-label"></label>
                <input asp-for="Modern" class="form-control" />
                <span asp-validation-for="Modern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Legacy" class="control-label"></label>
                <input asp-for="Legacy" class="form-control" />
                <span asp-validation-for="Legacy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pauper" class="control-label"></label>
                <input asp-for="Pauper" class="form-control" />
                <span asp-validation-for="Pauper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duel" class="control-label"></label>
                <input asp-for="Duel" class="form-control" />
                <span asp-validation-for="Duel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predh" class="control-label"></label>
                <input asp-for="Predh" class="form-control" />
                <span asp-validation-for="Predh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
